<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <li>Erstes Element</li>
      <li>Zweites Element</li>
      <li>Drittes Element</li>

    </ul>
  </body>
</html>
